.Button {
  outline: none;
  border: solid 1px whitesmoke;
  border-radius: 10px;
  background-color: rgb(96, 96, 249);
  color: white;
  padding: 5px 10px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
}