.Login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/login-background.jpg');
  background-size: cover;

  p {
    margin: 0;
    height: min-content;
    text-align: center;
  }
}

.container {
  overflow: hidden;
  width: 500px;
  text-align: center;
  border: solid 1px whitesmoke;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  opacity: 0.9;
}

.form {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  text-align: center;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
}